<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>YuMincho.ttc</string>
		<string>Yuanti.ttc</string>
		<string>Xingkai.ttc</string>
		<string>PingFang.ttc</string>
		<string>Klee.ttc</string>
		<string>Hannotate.ttc</string>
		<string>Hanzipen.ttc</string>
		<string>Kaiti.ttc</string>
	</array>
</dict>
</plist>
